<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<h1>Welcome to all in one page</h1>
<div class="nav navbar-nav">
  <li><a href="/">home</a></li>

  <li><a href="/signup">sign_up</a></li>
  <li><a href="accounts/login">login</a></li>
  <li><a href="accounts/logout">logout</a></li>

  </div>
  <div class="nav navbar-nav">
<div class="container">
  <li><a href="/python">python exam</a></li>
  <li><a href="/java">java exam</a></li>
  <li><a href="/aptitude">aptitute exam</a></li>
  <li><a href="/Student_details">Student_details</a></li>

</div>

    </div>

    {% block body_block%}
    {% endblock %}

  </body>
</html>
