<!DOCTYPE html>
{% extends 'testapp/base.html' %}
{% block body_block %}
<body>

    <h1>Student details</h1>

<table border='2'>

  <thead>
    <th>Roll no</th>
    <th>Name</th>
    <th>address</th>
    <th>school</th>
    <th>actions</th>
  </thead>
{%for student in Student_details %}
  <tr>
    <td>{{student.id}}</td>
    <td>{{student.sname}}</td>
    <td>{{student.saddr}}</td>
    <td>{{student.sschool}}</td>
    <td><a href="/update/{{student.id}}">update</a>
      <a href="/delete/{{student.id}}">delete</a>
    </td>
  </tr>
{% endfor %}


</table>
<a href="/insert">Insert the data</a>

  </body>
{% endblock %}
